/*--------------------------------------------------------------
20.  Media Queries
--------------------------------------------------------------*/

/* Smaller than standard 1230(devices and browsers) */
@media only screen and (max-width:1200px){


}

/* Smaller  standard 1024 (devices and browsers) */
@media only screen and (max-width:1024px) {

	h1 {
		font-size:30px;
	}

	h2 {
		font-size:20px;
	}

	h3 {
		font-size: 19px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 14px;
	}

}

/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px){

	.col-grid-4,
	.col-grid-3 {
		width: 50%;
	}

	.col-grid-8 {
		width: 100%;
	}

	.col-grid-4.recent-events {
		width: 100%;
	}

	.section-plan .pricing-plan-price {
		font-size: 37px;
	}

	.col-grid-4:nth-child(2n+1) {
		clear: both;
	}

	.sidebar,
	#primary,
	.three-columns-enabled .sidebar,
	.three-columns-enabled #primary {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}

	.custom-button,
	.custom-button:visited,
	a.button,
	.custom-button.custom-primary-button,
	.custom-button.custom-primary-button:visited {
		min-width: inherit;
		padding: 4px 20px;
		font-size: 14px;
	}
	#login-section li {
		display: inline-block;
		float: none;
	}
	#right-tophead {
		float: left;
	}
	.col-grid-6 {
		width: 100%;
	}

	#mobile-trigger,
	#mobile-trigger-quick {
		display: block;
		background: #222;
		color: #fff;
		padding: 20px 12px;
	}

	#mob-menu {
		display: block;
	}
	div#main-navigation {
		display: none;
	}
	#right-head {
		width: 75%;
	}
	.logged-in.sidr-main-open #mobile-trigger {
		position: relative;
		z-index: 999999;
	}

	.logged-in.sidr-open.sidr-main-open {
		margin-top: -46px;
	}

	#mobile-trigger i,
	#mobile-trigger-quick i {
		font-size: 17px;
		line-height: 0;
		display: block;
	}

	#mobile-trigger-quick {
		float: right;
	}

	.sidr ul li a {
		padding-right: 50px;
	}

	.sidr ul li {
		position: relative;
	}

	.sidr .dropdown-icon {
		height: 50px;
		width: 50px;
		background: #333333;
		z-index: 999;
		display: block;
		box-shadow: 0 0 37px #464444 inset;
		cursor: pointer;
	}

	.sidr ul li ul .dropdown-icon {
		height: 41px;
	}

	.sidr .dropdown-icon::after {
		content: "\f107";
		display: block;
		text-align: center;
		font-family: 'Font Awesome 5 Free';
	}

	.sidr .toggle-on .dropdown-icon::after {
		content: "\f106";
	}

	.sidr .dropdown-toggle {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
	}

	.sidr ul li ul {
		display: none;
	}

	#mob-menu.sidr ul li.has-mega-menu ul {
		display: block;
	}

	#mob-menu ul {
		display: none;
	}

	.sidr-open #mob-menu .sidr-inner > ul{
		display: block;
	}
	.section-carousel-enabled .product-item {
		clear: inherit;
	}
	.main-category-list.col-grid-4 {
		width: 100%;
		margin-top: 15px;
	}
	.main-category-list-wrapper {
		min-height: auto;
		overflow:hidden;
	}
	.main-category-list-wrapper {
		min-height: auto;
		overflow: hidden;
	}
	.footer-widget-main-wrap {
		padding: 20px;
	}
}

/* Smaller than standard 768 (devices and browsers) */
@media only screen and (max-width:767px){

	.inner-wrapper {
		margin-left: -15px;
		margin-right: -15px;
	}

	.col-grid-4,
	.col-grid-3,
	.col-grid-5  {
		width: 50%;
	}

	.col-grid-6,
	.col-grid-7 ,
	.col-grid-8,
	.col-grid-9,
	.col-grid-10,
	.col-grid-11,
	.col-grid-12 {
		width: 100%;
	}

	#masthead.fixed {
		position: inherit;
		top: inherit;
		width: 100%;
		left: inherit;
	}

	#masthead:after,
	#masthead:before {
		visibility:visible;
		display: none;
	}
	#right-head {
		width: 100%;
		margin-top: 15px;
	}
	#site-identity {
		float: inherit;
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}
	#colophon .copyright {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
	.colophon-bottom .social-links {
		float: none;
		clear: inherit;
	}
	#right-head {
		border: none;
	}

	.advance-search-wrap {
		width: 100%;
		border: 2px solid #eee;
		margin-bottom: 10px;
		padding: 7px 15px;
	}


	.advance-product-search .product-search {
		width: 100%;
		float: left;
		position: relative;
		border: 2px solid #eee;
	}
	.advance-product-search input.submit {
		padding: 10px 15px;
	}
	.advance-product-search input.search-field {
		border: none;
		height: 39px;
	}
	.advance-product-search input.submit {
		padding: 6px 15px;
		height: 43px;
		font-size: 13px;
	}
}
/* Smaller than standard 480 (devices and browsers) */
@media only screen and (max-width:479px){

	.col-grid-1
	.col-grid-2,
	.col-grid-4,
	.col-grid-3,
	.col-grid-5,
	.col-grid-6
	.col-grid-7,
	.col-grid-8,
	.col-grid-9,
	.col-grid-10,
	.col-grid-11,
	.col-grid-12 {
		width: 100%;
	}


}

/* Smaller than standard 320 (devices and browsers) */
@media only screen and (max-width:219px){

	.container{
		width: 310px;
		max-width: 310px;
	}
}
